<form method="POST">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name"></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="save"></input></td>
        </tr>
    </table>
</form>